
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(243, 241, 237);
    margin-bottom: 75px;
    color: black;
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid black;
    
    
}

.hour-display{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    margin-top: 1px;
    margin-bottom: 1px;    
    text-align: center;
    background-color: white;
}
.description{

    font-size: 20px;
    font-weight: bold;
    color: #000000;  
    border: 1px solid black;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 1px;    
    background-color: white;
}
.past{
    background-color: lightgray;
}
.future{
    background-color: lightgreen;
}
.present{
    background-color: lightcoral;
}
.saveBtn {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 0px;
    border: 1px solid black;
    padding: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    background-color: skyblue; 
    
}